
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #F4F4F4;
}
/* .container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */
.container {
  max-width: 600px;
  margin: auto; /* This will center the container horizontally */
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 170px; /* Adjust margin-top as needed for vertical centering */
}
h2 {
  margin-top: 0;
}
.hidden {
  display: none;
}
button {
  background-color: #ff315e;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 90px;
}


button[disabled] {
  background-color: #e0e0e0;
  color: #bdbdbd;
  cursor: not-allowed;
}

button:hover {
  background-color:#ff315e;
}
label {
  display: block;
  margin: 10px 0;
}
.spaced-button {
  margin-right: 10px;
}
/* style={{ backgroundColor: !isChecked ? '#e0e0e0' : '#4CAF50', color: '#ffffff' }} */
/* =======background */

/* body {
  background-color: #f9f9f9;
  color: #777;
  font-family: proxima nova, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  min-height: 100%;
  min-width: 100%;
  overflow: auto;
  position: relative;
} */
.tb--background {
  background-color: #ebebed !important;
}

.login-bg-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -5;
}
.bgStyle {
  background-image: url(https://ok1static.oktacdn.com/fs/bco/7/fs01hv7g2t4OK0m4K0h8);
}
/* .thankyou{

} */
.enter{
  background-color: #ff315e;
  color: white;
  padding: 4px 10px;
  /* margin: 10px 0; */
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 60px;
}